
@{
    Layout = null;
    //Criar uma página de Layout
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Menu principal
</body>
</html>
