
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/UrnaEletronica.css" rel="stylesheet" />
<script src="~/js/Voting/Index.js"></script>

<div>
    <h3>Urna eletrônica</h3>
</div>
<div class="container">
    <div class="branco">
        <div class="cinzaClaro">
            <p>Número:</p>
            <input style="pointer-events: none;" size="1" maxlength="1" type="text" readonly/>
            <input style="pointer-events: none;" size="1" maxlength="1" type="text" readonly/>
            <p>Nome:</p>
        </div>
        <div class="cinzaEscuro">
            <b>JUSTIÇA<br>ELEITORAL</b>
        </div>
        <div class="preto">
            <button class="bnt click">1</button>
            <button class="bnt click">2</button>
            <button class="bnt click">3</button>
            <button class="bnt click">4</button>
            <button class="bnt click">5</button>
            <button class="bnt click">6</button>
            <button class="bnt click">7</button>
            <button class="bnt click">8</button>
            <button class="bnt click">9</button>
            <button class="bnt click">0</button>
            <div class="teclado2">
                <button class="branco click">BRANCO</button>
                <button class="laranja click">CORRIGE</button>
                <button class="verde">CONFIRMA</button>
            </div>
        </div>
    </div>
</div>  