
@{
    ViewData["Title"] = "votes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apuração dos votos</h1>
<p>dashboard com a quantidade que cada candidato recebeu, mantendo a ordem de quem recebeu mais votos em primeiro na listagem.</p>

