
@{
    ViewData["Title"] = "votes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apuração dos votos</h1>
<p>dashboard com a quantidade que cada candidato recebeu, mantendo a ordem de quem recebeu mais votos em primeiro na listagem.</p>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>